//Font
$bold: 700;
$regular: 400;
//Texts
$big-size: 1.8rem;
$medium-size: 1.5rem;
$regular-size: 1.6rem;
$small-size: 1.4rem;
$tiny: 1.1rem;
$xxsmall-size: 1.2rem;
$xsmall-size: 1.3rem;
//Titles
$xbig-title: 3.6rem;
$big-title: 3.2rem;
$medium-title: 2.4rem;
$small-title: 2rem;
$xsmall-title: 1.6rem;

//Colors
$accent: #186abd;
$bg-grey: #efeff1;
$blackio: #242c35;
$bubble: #e4eaf1;
$caribe: #1595bd;
$cherry: #c8342c;
$dip: #f7e3c4;
$grafito: #4f5964;
$grafito2: #7c848c;
$grass: #6bad22;
$hitblue: #8ea7c5;
$info: #fdcd72;
$lagoon: #b4d490;
$river: #d6e5c5;
$moe: #cdcfd2;
$mamey: #e59d99;
$metal: #9ba0a7;
$mint: #eef9f8;
$mustard: #f5a623;
$snow: #ffffff;

$primary: $grafito;
$secondary: $caribe;


//MISC

//Forms sizes

$large: 100%;
$medium: 48%;
$small: 31%;

$shadow-box: 0 0 3px $metal;
$shadow-box-sider: 0px 1px 1px $metal;